---
  BasedOnStyle: WebKit
  IndentWidth: '4'
  AccessModifierOffset: '-2'
  AlignTrailingComments: 'true'
  # # AlignAfterOpenBracket: Align
  # # AlignOperands: Align
  # # AllowAllParametersOfDeclarationOnNextLine: 'false'
  # # AlwaysBreakTemplateDeclarations: 'No'
  BreakBeforeBraces: Allman
  ColumnLimit: '200'
  # ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
  IncludeBlocks: Regroup
  NamespaceIndentation: All
  # BreakBeforeBinaryOperators: All
  # BreakBeforeTernaryOperators: 'true'
  BreakTemplateDeclarations: 'true'
...
